{% block content %}
<div class="content has-text-centered">
    <section class="section is-size-4">
        We are a group of content creators focused in delivering erotic and creative work. We make games, comics, artwork, blogs and more!<br>
        Feel free to follow our members and check our content below!<br>
        Also join our socials:<br>
        <a href="https://patreon.com/katsis" target="_blank"><i class="fa-brands fa-patreon"></i></a>
        <a href="https://discord.gg/NKf98xmp9X" target="_blank"><i class="fab fa-discord"></i></a>
    </section>
    <hr>
    <section class="section">
    </section>
</div>
    <div id="projects-container">
        <div class="flex projects" id="project-games">
        {% for project in projects | filter(p => p.type == "game" or p.type == "gamejam") | reverse %}
            {% include 'project.html.twig' %}
        {% endfor %}
        </div>
        <div class="flex projects" id="project-assets">
        {% for project in projects | filter(p => p.type != "game" and p.type != "gamejam") | reverse %}
            {% include 'project.html.twig' %}
        {% endfor %}
        </div>
    </div>
    <h2>Our Members!</h2>
    <div class="flex" id="members">
    {% for member in members | sort((a, b) => a.name <=> b.name) %}
        <div class="member-info" data-sfw="img/members/{{ member.image }}" data-nsfw="img/members/{{ member.imageLewd ?? member.image }}">
            <h3>{{ member.name }}</h3>
            <a href="https://{{ member.name | replace({' ': ''}) }}.katsis.net">
                <img src="img/members/{{ member.image }}" width="100" height="100"/>
            </a>
            <h4>{{ member.role | join('<br>') | raw }}</h4>
            <div class="flex socials">
                {% for so in member.socials %}
                {% if so.name == "discord" %}
                <span title="{{ so.link }}"><i class="fab fa-discord"></i></span>
                {% else %}
                    <a href="{{ so.link }}" target="_blank">
                    {% if so.name == "twitter" %}
                    <i class="fa-brands fa-twitter"></i>
                    {% elseif so.name == "youtube" %}
                    <i class="fa-brands fa-youtube"></i>
                    {% elseif so.name == "twitch" %}
                    <i class="fa-brands fa-twitch"></i>
                    {% else %}
                    <i class="fa-solid fa-globe"></i>
                    {% endif %}
                    </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}