{% block content %}
{% include 'common/banner.html.twig' %}
    <hr>
    <p id="intro">
        We are a group of content creators focused in delivering erotic and creative work. We make games, comics, artwork, blogs and more!<br>
        Feel free to follow our members and check our content below!<br>
        Also join our socials:<br>
        <a href="https://patreon.com/katsis" target="_blank"><i class="fa-brands fa-patreon"></i></a>
        <a href="https://discord.gg/NKf98xmp9X" target="_blank"><i class="fab fa-discord"></i></a>
    </p>
    <hr>
    <div id="projects-menu" class="flex">
        <button data-target="project-games">Projects</button>
        <a class="button" href="https://comic.katsis.net"><div class="flex"><div>Comics</div></div></a>
        <button data-target="project-assets">Assets</button>
        <a class="button" href="https://gallery.katsis.net"><div class="flex"><div>Gallery</div></div></a>
        <a class="button" href="https://lore.katsis.net"><div class="flex"><div>Lore</div></div></a>
    </div>
    <div id="projects-container">
        <div class="flex projects" id="project-games">
        {% for project in projects | filter(p => p.type == "game" or p.type == "gamejam") | reverse %}
            {% include 'project.html.twig' %}
        {% endfor %}
        </div>
        <div class="flex projects" id="project-assets">
        {% for project in projects | filter(p => p.type != "game" and p.type != "gamejam") | reverse %}
            {% include 'project.html.twig' %}
        {% endfor %}
        </div>
    </div>
    <h2>Our Members!</h2>
    <div class="flex" id="members">
    {% for member in members %}
        <div class="member-info" data-sfw="img/members/{{ member.image }}" data-nsfw="img/members/{{ member.imageLewd ?? member.image }}">
            <h3>{{ member.name }}</h3>
            <a href="https://{{ member.name | replace({' ': ''}) }}.katsis.net">
                <img src="img/members/{{ member.image }}" width="100" height="100"/>
            </a>
            <h4>{{ member.role | join('<br>') | raw }}</h4>
            <div class="flex socials">
                {% for so in member.socials %}
                {% if so.name == "discord" %}
                <span title="{{ so.link }}"><i class="fab fa-discord"></i></span>
                {% else %}
                    <a href="{{ so.link }}" target="_blank">
                    {% if so.name == "twitter" %}
                    <i class="fa-brands fa-twitter"></i>
                    {% elseif so.name == "youtube" %}
                    <i class="fa-brands fa-youtube"></i>
                    {% elseif so.name == "twitch" %}
                    <i class="fa-brands fa-twitch"></i>
                    {% else %}
                    <i class="fa-solid fa-globe"></i>
                    {% endif %}
                    </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    <!--<h2>Characters:</h2>
    {% for charac in characters %}
        <div class="character-info" data-sfw="data/characters/{{ charac.image }}" data-nsfw="data/characters/{{ charac.hover ?? charac.image }}">
            <h3>{{ charac.name }}</h3>
            <div class="flex">
                <div>
                    <img src="data/characters/{{ charac.image }}" height="400"/>
                </div>
                <div>
                    <h3>Involved in</h3>
                    {{ charac.involvements | join(', ') }}
                    <h3>Games</h3>
                    {{ charac.games | join(', ') }}
                </div>
            </div>
            <div class="flex socials">
            </div>
        </div>
    {% endfor %}
    -->
    <div id="footer" class="flex">
        <a href="/terms.php">Terms of use</a>
        <a href="https://github.com/KatsisStudio">GitHub</a>
        <a href="https://files.katsis.net/?dir=Logo">Branding</a>
    </div>
{% endblock %}