{% block content %}
<div class="content has-text-centered">
    <section class="section is-size-4">
        We are a group of content creators focused in delivering erotic and creative work. We make games, comics, artwork, blogs and more!<br>
        Feel free to follow our members and check our content below!<br>
        Also join our socials:<br>
        <a href="https://patreon.com/katsis" target="_blank"><i class="fa-brands fa-patreon"></i></a>
        <a href="https://discord.gg/NKf98xmp9X" target="_blank"><i class="fab fa-discord"></i></a>
    </section>
    <hr>
</div>
<div class="content m-4 grid is-col-min-14">
    {% for project in projects | filter(p => p.type == "game" or p.type == "gamejam") | reverse %}
        {% include 'project.html.twig' %}
    {% endfor %}
</div>
<div class="content m-4 has-text-centered">
    <h2>Our Members!</h2>
    <div class="grid is-col-min-12">
    {% for member in members | sort((a, b) => a.name <=> b.name) %}
        <div class="cell" data-sfw="img/members/{{ member.image }}" data-nsfw="img/members/{{ member.imageLewd ?? member.image }}">
            <p class="title is-4">{{ member.name }}</p>
            <a href="https://{{ member.name | replace({' ': ''}) }}.katsis.net">
                <figure class="image is-96x96 is-inline-block">
                    <img class="is-rounded" src="img/members/{{ member.image }}"/>
                </figure>
            </a>
            <p class="subtitle katsis-members">{{ member.role | join('<br>') | raw }}</p>
            <div class="flex socials">
                {% for so in member.socials %}
                {% if so.name == "discord" %}
                <span title="{{ so.link }}"><i class="fab fa-discord"></i></span>
                {% else %}
                    <a href="{{ so.link }}" target="_blank">
                    {% if so.name == "twitter" %}
                    <i class="fa-brands fa-twitter"></i>
                    {% elseif so.name == "youtube" %}
                    <i class="fa-brands fa-youtube"></i>
                    {% elseif so.name == "twitch" %}
                    <i class="fa-brands fa-twitch"></i>
                    {% elseif so.name == "bluesky" %}
                    <i class="fa-brands fa-bluesky"></i>
                    {% else %}
                    <i class="fa-solid fa-globe"></i>
                    {% endif %}
                    </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}