{% extends 'base.html.twig' %}

{% block content %}
    <h1 id="logoTitle">Katsis</h1>
    <p>
        Katsis is a video game studio focused in delivering <b>N</b>ot <b>S</b>afe <b>F</b>or <b>W</b>ork experiences.<br/>
        Feel free to follow our members, and check out or content below!
    </p>
    <h2>Our Work:</h2>
    <div id="projects-menu" class="flex">
        <button data-target="project-games">Projects</button>
        <a class="button" href="https://comic.katsis.net"><div class="flex"><div>Comics</div></div></a>
        <button data-target="project-assets">Assets</button>
        <a class="button" href="https://blog.katsis.net"><div class="flex"><div>Blog</div></div></a>
        <a class="button" href="https://gallery.katsis.net"><div class="flex"><div>Gallery</div></div></a>
    </div>
    <div id="projects-container">
        <div class="flex projects" id="project-games">
        {% for project in projects | filter(p => p.type == "game" or p.type == "gamejam") | reverse %}
            {% include 'project.html.twig' %}
        {% endfor %}
        </div>
        <div class="flex projects" id="project-assets">
        {% for project in projects | filter(p => p.type != "game" and p.type != "gamejam") | reverse %}
            {% include 'project.html.twig' %}
        {% endfor %}
        </div>
    </div>
    <h2>Our Members!</h2>
    <div class="flex" id="members">
    {% for member in members %}
        <div class="member-info" data-sfw="data/members/members/{{ member.image }}" data-nsfw="data/members/members/{{ member.imageLewd ?? member.image }}">
            <h3>{{ member.name }}</h3>
            <h4>{{ member.role }}</h4>
            <img src="data/members/members/{{ member.image }}" width="100" height="100"/>
            <div class="flex socials">
                {% for so in member.socials %}
                {% if so.name == "discord" %}
                <span title="{{ so.link }}"><i class="fab fa-discord"></i></span>
                {% else %}
                    <a href="{{ so.link }}" target="_blank">
                    {% if so.name == "twitter" %}
                    <i class="fa-brands fa-twitter"></i>
                    {% elseif so.name == "youtube" %}
                    <i class="fa-brands fa-youtube"></i>
                    {% elseif so.name == "twitch" %}
                    <i class="fa-brands fa-twitch"></i>
                    {% else %}
                    <i class="fa-solid fa-globe"></i>
                    {% endif %}
                    </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    <h2>Community</h2>
    <div id="social">
        <iframe src="https://discord.com/widget?id=1204047268898930688&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <!--<h2>Characters:</h2>
    {% for charac in characters %}
        <div class="character-info" data-sfw="data/characters/{{ charac.image }}" data-nsfw="data/characters/{{ charac.hover ?? charac.image }}">
            <h3>{{ charac.name }}</h3>
            <div class="flex">
                <div>
                    <img src="data/characters/{{ charac.image }}" height="400"/>
                </div>
                <div>
                    <h3>Involved in</h3>
                    {{ charac.involvements | join(', ') }}
                    <h3>Games</h3>
                    {{ charac.games | join(', ') }}
                </div>
            </div>
            <div class="flex socials">
            </div>
        </div>
    {% endfor %}
    -->
    <div>
    <a href="/terms.php">Terms of use</a><br>
    <a href="https://github.com/KatsisStudio">GitHub</a>
    </div>
{% endblock %}