<div class="cell card" data-previews="{{ project.previews | map(x => "img/projects/#{project.baseFolder}/#{x}") | join(';') }}" data-src="img/projects/{{ project.baseFolder }}/{{ project.preview }}">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="img/projects/{{ project.baseFolder }}/{{ project.preview }}"/>
        </figure>
    </div>
    <footer class="card-footer">
        <a href="{{ project.links[0].content }}" class="card-footer-item">Play</a>
    </footer>
</div>