<div class="project-info" data-previews="{{ project.previews | map(x => "data/projects/#{project.baseFolder}/#{x}") | join(';') }}" data-src="data/projects/{{ project.baseFolder }}/{{ project.preview }}">
    <div class="img-container">
        <img src="data/projects/{{ project.baseFolder }}/{{ project.preview }}"/><br>
    </div>
    <h3>{{ project.name }}{% if project.price == "paid" %}<i class="fa-solid fa-euro-sign price"></i>{% endif %}</h3>
    {% for d in project.download %}
    <a href="data/projects/{{ project.baseFolder }}/{{d}}">Download</a>
    {% endfor %}
     {% if project.type != "asset" %}
    <div class="flex tags">
        <div class="main-type">{{ project.type | title }}</div>
        {% if project.gameGenre is not null %}
        <div class="main-genre">{{ project.gameGenre }}</div>
        {% endif %}
        {% for warn in project.contentWarnings %}
        <div class="content-warning">{{ warn }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% for link in project.links %}
    {% if project.type == "game" or project.type == "gamejam" %}
    <a href="{{ link.content }}" target="_blank"><i class="fa-solid fa-gamepad"></i></a>
    {% else %}
    <a href="{{ link.content }}" target="_blank">{{ link.name }}</a>
    {% endif %}
    {% endfor %}
    <p class="proj-members">
        By {{ project.members | join(', ') }}
    </p>
</div>